.footer {
  width: 100%;

  background-color: #e2faff;

  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
  /* max-width: 1440px; */
  margin: 0 auto;
  padding: 10px;
}

.footer_header {
  display: flex;
  gap: 10px;
}

.footer_header_block {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: 10px;
  padding: 15px;

  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}

.footer_header_info {
}

.footer_header_info_header {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 20px;

  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.footer_header_info_header_logo {
  width: 100px;
}

.footer_header_info_item {
  padding: 15px;

  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.footer_header_contacts_item_inner {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px;

  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.footer_header_contacts_item_icon {
  width: 30px;
}

.footer_header_contacts_item_title a {
  color: #333;
}

.footer_baner {
  padding: 20px;

  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}

@media (max-width: 990px) {
  .footer_header {
    flex-wrap: wrap;
  }

  .footer_header_block {
    flex: auto;
  }

  .footer_header_info_header {
    flex-direction: column;
  }
  .footer_header_info_header_logo {
    width: 50px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 500px) {
}
