.gallery {
  display: flex;
  gap: 10px;
  padding: 10px;

  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.gallery_col {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: 10px;
}

.gallery_col_item {
  position: relative;
  height: min-content;
}

.gallery_col_item .gallery_col_item_img {
  height: 100%;
}

.gallery_col_item_img {
  width: 100%;

  border-radius: 10px;
}

.gallery_col_item_label {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;

  padding: 5px;

  font-weight: 500;
  font-size: 16px;
  text-align: center;

  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.gallery_col_item_label.b {
  top: auto;
  bottom: 10px;
}

@media (max-width: 500px) {
  .gallery {
    flex-wrap: wrap;
  }

  .gallery_col {
    flex: auto;
  }

  .gallery_col_item_label {
    top: 5px;
    left: 5px;
    right: 5px;

    font-size: 14px;
  }

  .gallery_col_item_label.b {
    bottom: 5px;
  }
}
