.header {
  position: fixed;
  top: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;

  background-color: rgba(255, 255, 255, 0.3);

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

  z-index: 100;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* header_nav */
.header_nav {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.header_nav_item {
  display: flex;
  align-items: center;
  cursor: pointer;

  transition: 0.2s linear;
  transition-property: opacity;
}

.header_nav_item:hover {
  opacity: 0.6;
}

/* header_nav_dropdown */
.header_nav_dropdown {
  position: relative;
}

.header_nav_dropdown.visible .header_nav_dropdown_title::before {
  transform: rotate(-90deg) translateX(3px);
}

.header_nav_dropdown.visible .header_nav_dropdown_menu {
  padding: 10px 10px;
  opacity: 1;
}

.header_nav_dropdown_title {
  position: relative;
  padding-right: 15px;

  cursor: pointer;

  transition: 0.2s linear;
  transition-property: opacity;
}

.header_nav_dropdown_title:hover {
  opacity: 0.6;
}

.header_nav_dropdown_title::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 7px 4px 0;
  border-color: transparent #333 transparent transparent;

  transition: 0.2s ease-in-out;
  transition-property: transform;
}

.header_nav_dropdown_menu {
  position: absolute;
  top: 100%;
  left: 0;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: max-content;
  height: 0px;
  overflow: hidden;
  row-gap: 5px;
  padding: 0;

  background-color: rgba(255, 255, 255, 1);

  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 5px;

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

  opacity: 0;

  transition: 0.2s ease-in-out;
  transition-property: opacity, height, padding;
}

.header_nav_dropdown_menu_item {
  padding: 5px 10px;
  border-radius: 5px;

  color: #333;

  cursor: pointer;

  transition: 0.2s ease-in-out;
  transition-property: background-color;
}

.header_nav_dropdown_menu_item.header_nav_item:hover {
  background-color: rgba(135, 135, 135, 0.05);
  opacity: 1;
}

.header_burger {
  position: relative;
  display: flex;
  width: 20px;
  height: 15px;
}

.header_burger.active .header_burger_item:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.header_burger.active .header_burger_item:nth-child(2) {
  opacity: 0;
}

.header_burger.active .header_burger_item:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.header_burger_item {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;

  background-color: #333;

  border-radius: 5px;

  transition: 0.1s ease-in-out;
  transition-property: top, transform, opacity;
}

.header_burger_item:nth-child(1) {
  top: 0;
}

.header_burger_item:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.header_burger_item:nth-child(3) {
  bottom: 0;
}

@media (max-width: 990px) {
  .header {
    justify-content: start;
    flex-direction: column;
    overflow-y: scroll;
    padding: 10px 10px;
  }

  .header.active {
    height: 100%;
  }

  .header_top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 0px;
  }

  .header_logo {
    /* display: none; */
    font-size: 12px !important;
    padding: 0 !important;
  }

  .header_nav {
    flex-direction: column;
    align-items: center;
    /* flex: 1 0 0; */
    height: 0px;
    overflow: hidden;

    transition: 0.1s ease-in-out;
    transition-property: height;
  }

  .header_nav.active {
    height: min-content;
    overflow-y: scroll;
  }

  .header_nav_item {
    padding: 20px 10px;

    font-size: 18px;
  }

  .header_nav_dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
  }

  .header_nav_dropdown_title {
    width: -moz-fit-content;
    width: fit-content;

    font-size: 18px;
  }

  .header_nav_dropdown_menu {
    position: relative;
    top: auto;
    left: auto;

    max-width: 100%;
    width: 100%;

    /* padding: 0 100px; */

    background-color: rgba(255, 255, 255, 0.5);
  }
}
